<footer>
    <h2>Digital house</h2>
    <h3>Recupertario backend</h3>
    <h4>CHAPIRE, Marcos</h4>
  <div>
    <ul class="ul-footer">
        <li><a href="/canciones/listar">Ver canciones</a></li>
        <li><a href="/canciones/crear">Crear canciones</a></li>
        <li><a href="/generos">Géneros</a></li>
      </ul>
    </div>
</footer>