<header>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  <div>
    <ul class="ul-header">
        <li><a href="/canciones/listar">Ver canciones</a></li>
        <li><a href="/canciones/crear">Crear canciones</a></li>
        <li><a href="/generos">Géneros</a></li>
      </ul>
    </div>
  </header>