<!DOCTYPE html>
<html>
  <head>
    <title>Crear canciones</title>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>Creador de canciones</h1>
    </header>
    <form action="/canciones/crear" method="POST">
        <div>
            <label for="">Titulo</label>
            <input type="text" name="titulo">
        </div>
        <div>
            <label for="">Duracion</label>
            <input type="text" name="duracion">
        </div>
        <div>
            <label for="">Fecha creación</label>
            <input type="date" name="fechaCreacion">
        </div>
        <div>
            <label for="">Fecha lanzamiento</label>
            <input type="date" name="fechaLanzamiento">
        </div>
        <div>
            <label for="">Género</label>
            <select name="genero" id="">
                <option value="">
                    <p>genero</p>
                </option>
            </select>
        </div>
        <div>
            <label for="">Id de álbum</label>
            <input type="text" name="idAlbum">
        </div>
        <div>
            <label for="">Id de artista</label>
            <input type="text" name="idArtista">
        </div>
        <div>
            <button type="submit">Crear</button>
        </div>
    </form>
  </body>
</html>