<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
  </head>
  <%- include('./partials/header', {title: 'Inicio'}) %>
  <body>
    
  </body>
</html>
