*{
  padding: 0;
  margin: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
header{
}
a {
  color: white;
  text-decoration: none;
  text-decoration-line: none;
}
ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background-color: white;
}
.ul-header{
  background-color: black;
  color: white;
  justify-content: center;
}
li{
  padding: 10px;
  padding-left: 0px;
  color: black;
}
.formulario-crear{
  display: flex;
  margin: auto;
  flex-direction: column;
}
.formulario-crear div{
  padding: 10px;
}
.div-formulario-crear{
  display: flex;
  margin: auto;
}
.boton-crear{
  text-align: right;
}
