*{
  padding: 0;
  margin: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
header{
  text-align: center;
}
a {
  color: white;
  text-decoration: none;
  text-decoration-line: none;
}
ul{
  list-style: none;
}
.ul-header{
  background-color: black;
  color: white;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.ul-genero{
  display: flex;
  flex-direction: column;

}
.ul-listado{
  display: flex;
  flex-direction: column;
}
li{
  padding: 10px;
  padding-left: 0px;
  color: black;
}
.formulario-crear{
  display: flex;
  margin: auto;
  flex-direction: column;
}
.formulario-crear div{
  padding: 10px;
}
.div-formulario-crear{
  display: flex;
  margin: auto;
}
.boton-crear{
  text-align: right;
}
.div-listado{
  padding-left: 10px;

}